body {
  margin: 0;
  height: 100vh;/*356px;*/
  width: 100vh;/*634px;*/
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;/*356px;*/
  width: 100%;/*634px;*/
  background-image: url("../images/sea.jpg");
  background-size: cover;
}

.background .water {
  position: absolute;
  background-image: url("../images/sea-map.png");
  background-size: cover;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  filter: url("#turbulence");
}
